{% extends "base.html" %}

{% block content %}
<h2>Staff Activity Share (%)</h2>

<table class="table table-striped">
    <thead class="table-info">
        <tr>
            <th>Staff</th>
            <th>Hospital</th>
            <th>Total Appointments</th>
            <th>Share (%)</th>
        </tr>
    </thead>
    <tbody>
        {% for s in staff %}
        <tr>
            <td>{{ s.FullName }}</td>
            <td>{{ s.Hospital }}</td>
            <td>{{ s.TotalAppointments }}</td>
            <td>{{ s.SharePct }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
